<div style="display: flex; gap: 50px">
    <a href="/products" class="cart-text">
      <h3>PRODUCTOS</h3>
    </a>
    <a href="/carts/664d73c255cc4eb27f46d21c" class="cart-text">
      <h3>CARRITO</h3>
    </a>
</div>
<div>
    <h1>Detalles del Producto</h1>
</div>
<div>
    <ul>
        <strong>Producto ID:</strong> {{product._id}}<br>
        <strong>Título:</strong> {{product.title}}<br>
        <strong>Descripción:</strong> {{product.description}}<br>
        <strong>Código:</strong> {{product.code}}<br>
        <strong>Precio:</strong> {{product.price}}<br>
        <strong>Estado:</strong> {{product.status}}<br>
        <strong>Stock:</strong> {{product.stock}}<br>
        <strong>Categoría:</strong> {{product.category}}<br>
        <strong>Thumbnail:</strong> {{product.thumbnail}}<br>
    </ul>
    <form action="/api/carts/add" method="POST">
        <input type="hidden" name="productId" value="{{product._id}}">
        <label for="quantity">Cantidad:</label>
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Agregar al carrito</button>
    </form>
    <br/>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>